.comments-area {
	margin-top: 20px;
	margin-bottom: 0;
	@include clearfix();

	.comment-list {
		@include clearfix();
		margin: 0;
		list-style: none;

		> .comment-respond {
			border-bottom: 1px solid #e6e6e6;
			padding-bottom: 25px;
			margin-bottom: 30px;
			padding-top: 0;
		}
	}

	.comment-list-inner {
		padding-bottom: 0;
		@include clearfix();

		.comments-title {
			padding: 10px 0;
			margin-bottom: 30px;
			border-bottom: 1px #ddd solid;
			font-size: 1.5em;
		}

		.comment-author.meta {
			color: #b3b3b3;

			strong {
				color: #000
			}
		}

		> li {
			list-style: none outside none;
			margin-bottom: 25px
		}

		.comment-list {
			li.comment {
				margin-bottom: 25px;
			}

			ul > li {
				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}

			> li {
				@include breakpoint(575) {
					> ul.children {
						margin: 25px -15px;
						padding: 25px 15px;
						background: #fafafa;
					}
				}
			}
		}

		li {
			&.pingback {
				margin-bottom: 15px;

				a {
					padding-left: 5px;
				}

				.edit-link {
					margin-left: 5px;
				}
			}

			.wrapper-comment {
				overflow: hidden
			}

			.wrapper_avatar {
				width: 85px;
				height: 85px;
				float: left;
				overflow: hidden;
			}

			.comment-right {
				width: calc(100% - 110px);
				width: -webkit-calc(100% - 110px);
				width: -moz-calc(100% - 110px);
				float: left;
				padding: 20px;
				margin-left: 25px;
				border: 1px solid #e6e6e6;

				.content-comment {
					p {
						font-size: 14px;
						color: #777777;
					}
				}
			}

			.comment-awaiting-moderation {
				margin-left: 20px
			}

			.comment-extra-info {
				color: #858585;
				position: relative;
				margin-bottom: 5px;
				@include clearfix();

				i {
					margin-right: 5px
				}

				.author, .date, .comment-edit-link {
					float: none;
					display: block;
				}

				.author a, .author {
					font-weight: 600;
					color: #111;
					text-transform: uppercase;
				}

				.date {
					color: #666666;
					padding: 0 0 5px 0;
					display: block;
				}

				display: block;

				.info-left {
					display: block;

					.author {
						display: inline-block;
						float: left;
					}

					.date {
						display: inline-block;
						float: right;
						text-transform: uppercase;
						font-size: 11px;
						font-weight: 600;
					}
				}

			}

			.content-comment {
				.comment-reply-link {
					&:before {
						font: normal normal normal 14px/1 FontAwesome;
						content: "\f112";
						margin-right: 8px;
						-moz-transform: rotate(-180deg);
						-webkit-transform: rotate(-180deg);
						-o-transform: rotate(-180deg);
						-ms-transform: rotate(-180deg);
						transform: rotate(-180deg);
						display: inline-block;
					}
				}
			}

			.info-right {
				margin-top: 10px;

				> a {
					display: inline-block;
					padding-left: 10px;
					text-transform: capitalize;

					&.comment-reply-link {
						font-weight: 600;
						font-size: 90%;
					}

					&:hover {
						color: #111;
					}

					&:first-child {
						padding-left: 0;
					}
				}
			}

			.children {
				margin-top: 30px;
				margin-left: 60px;

				li {
					list-style: none
				}
			}
		}

		@include breakpoint(768) {
			li .comment-right {
				padding: 15px;
				margin-left: 15px;
				width: calc(100% - 100px);
				width: -webkit-calc(100% - 100px);
				width: -moz-calc(100% - 100px);
			}
			li .children {
				margin-left: 25px;
			}
		}
		@include breakpoint(575) {
			li .children {
				margin-left: 0;
			}
		}
		@include breakpoint(380) {
			li .wrapper_avatar {
				margin: 0 auto 20px auto;
				float: none;
				width: 90px;
				height: auto;
			}
			li .comment-right {
				width: 100%;
				padding: 5px 5px 5px 0;
			}
		}
	}

	.no-comments {
		background-color: #f9f9f9;
		font-size: 1.2em;
		font-style: italic;
		padding: 20px 0;
		text-align: center;
	}

	.comment-respond {
		margin-top: 20px;

		p {
			margin-bottom: 15px;

			&.logged-in-as {
				margin-bottom: 10px;
			}

			label {
				margin-bottom: 10px;
				line-height: 1;
			}

			&.comment-form-cookies-consent label {
				margin-bottom: 0;
			}
		}

		.comment-form-author, .comment-form-email, .comment-form-url {
			input {
				padding: 9px 10px;
				border: 1px solid #e6e6e6;
				@include input-placeholder(#999999);
			}
		}

		textarea {
			height: 150px;
			padding: 9px 10px;
			border: 1px solid #e6e6e6;
			@include textarea-placeholder(#999999);
		}

		.form-submit {
			text-align: left;
			margin-bottom: 0;

			input#submit {
				background: #111333;
				color: #fff;
				border: none;
				padding: 14px 30px;
				font-weight: 500;
				cursor: pointer;
				width: auto;
				text-shadow: none;
				box-shadow: none;
				text-transform: uppercase;
				border-radius: 0 !important;

				&:focus {
					outline: none;
				}
			}
		}
	}

	.comment-respond-area #respond.comment-respond .comment-reply-title {
		padding: 10px 0;
		margin-bottom: 20px;
		border-bottom: 1px #ddd solid;
	}

	#respond.comment-respond .comment-reply-title {
		margin-bottom: 10px;
	}

	.comments-title, .comment-respond .comment-reply-title {
		text-transform: uppercase;
		margin-top: 0;
		position: relative;

		&:before {
			content: "#";
			padding-right: 5px;
		}
	}
}

.comment-navigation {
	overflow: hidden;

	.nav-previous {
		float: left
	}

	.nav-next {
		float: right
	}
}