.wpcf7-form {

	label {
		width:   50%;
		display: inline-block;
		float:   left;
		//padding: 0 10px;
		.wpcf7-form-control-wrap {
			margin-bottom: 20px;
			display:       inline-block;

			input {
				padding:   9px 10px;
				border:    1px solid $border_color;
				@include input-placeholder(#111);
				font-size: 14px;
			}

			&.full-name {
				padding-right: 5px;
			}

			&.your-email {
				padding-left: 5px;
			}
		}

	}

	.your-message {
		display: block;
		width:   100% !important;

		textarea {
			height:    200px;
			display:   inherit;
			border:    1px solid $border_color;
			@include input-placeholder(#111);
			font-size: 14px;
		}
	}

	.wpcf7-submit {
		background:     #000000;
		color:          #fff;
		border:         none;
		padding:        9px 40px;
		cursor:         pointer;
		text-transform: uppercase;
  		&:hover {
			background: #222;
		}
	}

	br {
		display: none;
	}

}

.style-contact-h2 {
	.wpcf7-form {
		.wpcf7-form-control-wrap {
			margin-bottom: 30px;

			input, textarea {
				margin-bottom: 0;
				width:         100%;
				padding:       10px 0;
				text-indent:   20px;
				background:    #fce2de;
				border:        1px solid #fff;
			}
		}

		.wpcf7-submit {
			border:         none;
			background:     #fff;
			padding:        15px 40px;
			color:          #111;
			line-height:    1;
			text-transform: uppercase;
			font-weight:    600;
			border-radius:  0;

			&:hover {
				background: #111;
				color:      #fff;
			}
		}
	}
}

.infor-footer {
	ul {
		list-style: none;
		margin:     0 !important;

		li {

			color:     #777777;
			font-size: 14px;
			font-weight: 600;
			i {
				margin-right: 10px;
				color:        #000000;
			}
		}
	}
}

.share-infor {

	a {
		margin:    0 5px;
		color:     #000000;
		font-size: 14px;
		font-weight: 700;
		&:hover {
			color: #1e73be;
		}
	}
}

.mc4wp-form {
	.mc4wp-form-fields {
		position: relative;

		p {
			border:  1px solid #ffffff;
			padding: 6px 0;
			display: block;
			input {
				color:  #999;
				border: none;
				&::placeholder {
					color: #999;
				}
			}
			.email {
				width:       calc(100% - 160px) !important;
				display:     inline-block;
				background:  transparent;
				line-height: 35px;
				&::placeholder {
					color: #ffffff;
				}
				@include breakpoint(600) {
					width: calc(100% - 110px) !important;
				}
			}
			.submit {
				width:          150px;
				display:        inline-block;
				background:     #ffffff;
				line-height:     35px;
				color:          #111111;
				text-transform: uppercase;
				&:hover {
					background: #f1593b;
					color:      #ffffff;
				}
				@include breakpoint(600) {
					width:   100px;
					padding: 6px !important;
				}
			}
		}
	}
}

.letter-homepage1 {
	.mc4wp-form {
		.mc4wp-form-fields {
			position: relative;
			p {
				padding: 0 !important;
				border:  none !important;
				input {
					color:   #999;
					padding: 4px;
					display: block;
					&::placeholder {
						color: #999;
					}
				}
				.email {
					width:       100% !important;
					display:     block;
					background:  transparent;
					border:      1px solid #ffffff;
					line-height: 35px;
					text-indent: 10px;
					&::placeholder {
						color: #ffffff;
					}
				}
				.submit {
					display:    block;
					margin-top: 30px;
					color:      #111111;
					&:hover {
						background: #f1593b;
						color:      #ffffff;

					}
				}
			}
		}
	}
}

.contact-faq {

	.wpcf7-form {
		> p {
			text-align:     center;
			font-weight: 700;
			font-size:      18px;
			text-transform: uppercase;
			color:          #ffffff;
			margin-bottom:  25px;
		}
		label {
			width:   100%;
			display: block;
			.wpcf7-form-control-wrap {
				display: block;
				input {
					padding:    9px 10px;
					border:     1px solid #fff;
					background: transparent !important;
					color:      #fff;
					font-size:  14px;
				}
				&.your-email {
					padding-left: 0;
				}
				&.your-question {
					display: block;
					width:   100% !important;
					textarea {
						height:     150px;
						font-size:  14px;
						display:    inherit;
						border:     1px solid #fff;
						background: transparent !important;
						color:      #ffffff;
					}
				}
			}
		}
		.wpcf7-submit {
			border:         1px solid transparent;
			padding:        9px 40px;
			cursor:         pointer;
			text-transform: uppercase;
			width:          inherit;
 			display:        inline-block;
			background: #ffffff;
			color: #111111;
			&:hover{
				background: #f1593b;
				color: #ffffff;
				border: 1px solid transparent !important;
			}
		}

	}
}